.actions{
position: absolute;
width: 360px;
height: 48px;
left: 540px;
top: 653px;

}


.encrypt{
position: absolute;
width: 168px;
height: 48px;
left: calc(50% - 168px/2 - 96px);
top: 653px;
background: #009EFF;
border-radius: 3px
}

.decrypt{
	position: absolute;
width: 168px;
height: 48px;
left: calc(50% - 168px/2 + 96px);
top: 653px;
background: #0065FF;
border-radius: 3px;
}